body{
    margin: 0px;
}
canvas{
    position: absolute;
    z-index: 1;
}

.pose-canvas{
    z-index:2;
}

.artwork{
    position: absolute;
}

.container{
    margin: 50px;
}

.send-data{
    margin-left: -100px;
}

.delete{
    margin-left: -150px;
}

.toggle{
    left: 200px;
    position: relative;
}

.controls{
    display: flex;
    justify-content: center;
}

button{
    width: fit-content;
}

#main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

#color-menu{
    width: 200px;
    height: 200px;
    position: fixed;
    padding: 20px;
    z-index: 3;
}