body{
    margin: 0px;
}
canvas{
    position: absolute;
    z-index: 1;
}

.pose-canvas{
    z-index:2;
}

.artwork{
    position: absolute;
}

.container{
    margin: 50px;
}

#main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}